<h2>New Node</h2>

<% form_for(@node, :url => { :action => "create" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
                                 
<hr />                                 
                                 
<h2>Recent Nodes</h2>
                                 
<% @nodes.each do |node| %>
  <div><%= link_to node.key, node %></div>
<% end %>
                                 